body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Trirong", serif;
    background-color: aqua;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: row;
   margin: auto;


}


.inp{
    border: none;
   outline: none;
   padding: 7px;
   width: 92%;
   background-color: #f7fcff;
  

 }

.box1{

    border:  1px solid black;
    border-radius: 5px;
    background-color:white;
    width: 700px;
    height: 400px;
    margin-top: 10%;
    padding: 5px;
    overflow-y: scroll;
 

}

.box1::-webkit-scrollbar{
    display: none;
}

form{
    border: 1px solid black;
    background-color: white;
    width: 80%;
   margin-left: 30px;
   border-radius: 4px;
}

form i{
    padding-left: 10px;
}

.list-product img{
    width: 80px;
    margin-left: 12px;
    
}

.list-product{
    display: flex;
   cursor: pointer;
    flex-direction: row;
    padding: 12px 0px;
    margin-top: 10px;
    background-color: rgb(156, 245, 215);
}

.list-product:hover{
    background-color: rgb(34, 172, 126);

}

.list-product h3{
    margin-left: 30px;
}


